<!DOCTYPE html>
<html>
<head>
<title>GifTrip</title>
</head>

<body>
Welcome to GifTrip
<br>
<form action="/action_page.php">
  Enter a Mantra:<br>
  <input type="text" name="mantra">
  <br>
  <input type="submit" value="Submit">
</form>
</body>

</html>
