<!DOCTYPE html>
<html>
<head>
<title>GifTrip</title>
</head>

<body>
Welcome to GifTrip
<br>
<form action="/mantra" method="post">
  Enter a Mantra:<br>
  <input type="text" name="mantra">
  <br>
  <input type="submit" value="Trip!">
</form>
</body>

</html>
