<!DOCTYPE html>
<html>
<head>
<title>GifTrippin'</title>
</head>

<body>
<p>GifTrippin'</p>
<p><%="Your Mantra is #{@search.mantra}."%></p>
<img id="gif" src="https://media.giphy.com/media/AwoDg0wJImOjK/200w.webp">
</body>

</html>
